<%= form_with(model: @plan, url: plans_path) do |form| %>
  <div class="center" style="margin: 5em 0">
    <div class="card custom-card">
      <h1>Create a New Plan</h1>
      <div class="card-body custom-card-body">
        <p>Welcome to PLANXT, a tool to set up an event venue – all furniture and staff placements chronologically, and track the actual setup progress real-time. Let’s get started..</p>

        <div class="form-group justify-content-md-center" style="display:flex">
          <label class="col-form-label"><b>Plan Name</b></label>
          <div class="col-sm-4" style="margin-left: 1em;">
            <%= form.text_field :name, class: "form-control", id: "Plan Name", placeholder: "Enter plan name" %>
          </div>
        </div>

        <div class="justify-content-md-center" style="display:flex; margin: 1em">
          <label class="col-form-label" style="margin-right: 2em;">Dimensions of the Venue (approximate):</label>
          <label class="col-form-label">Length (inches):</label>
          <div class="col-sm-2" style="margin: 0 1em">
            <%= form.text_field :venue_length, class: "form-control", id: "Venue Length", placeholder: "Enter length in inches" %>
          </div>
          <label class="col-form-label">Width (inches):</label>
          <div class="col-sm-2" style="margin-left: 1em">
            <%= form.text_field :venue_width, class: "form-control", id: "Venue Width", placeholder: "Enter width in inches" %>
            <%= form.hidden_field :owner, value: session[:user_email] %>
          </div>
        </div>


        <div class="button-container">
          <%= form.submit "Create", class: "btn btn-primary", style:"margin-right: 1em; background-color:#478ac9" %>
          <%= link_to "Back", plans_path, class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<style>
  h1 {
    margin-bottom: 1rem;
  }

  .col-form-label {
    font-size: inherit; /* Ensure all labels have the same font size */
  }

  /* Custom CSS class for the card container */
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  /* Custom CSS class for the card */
  .custom-card {
    width: 80%;
    text-align: center;
    padding: 2em;
  }

  /* Custom CSS class for the card body (content container) */
  .custom-card-body {
    padding: 0rem 2rem;
    max-height: 100%;
    overflow-y: auto;
  }

  .row-center {
    margin: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-container {
    text-align: center;
  }

  th {
    font-size: 0.8rem;
    padding: 2px;
  }

  .form-text {
    font-size: 1rem;
  }
  
  .form-control::placeholder {
  font-size: 0.8rem;
  color: #999;
}

</style>
